.App {
  text-align: left;
  background-color: #e6ddca;
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.tile {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: #819d97;
  float: left;
  font-size: 11px;
  text-align: center;
  color: #FFF;
}